input{
    width: 60px;
    background-color:ghostwhite ;
}
.cart-qty-plus , .cart-qty-minus{
    width: 20px;
    height: 30px;
    background-color: rgb(221, 221, 252);
    border: 1px solid #ced4da;
    border-radius: 30px;
}
.cart-qty-plus:hover , .cart-qty-minus:hover{
    background-color: #ced4da;
    color: #fff;
}
input:focus
button:focus
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled, .form-control[read-only]{
    background-color: #fff;
}
